---
const { title, description, prop, checked } = Astro.props
---

<div class="contents items-center justify-between bg-white dark:bg-gray-800">
    <label class="inline-flex items-center justify-around cursor-pointer">
        <div class="flex items-center w-full">
            <div>
                <p class="text-md font-bold text-gray-900 dark:text-white">{ title }</p>
                <p class="text-base font-normal text-gray-500 dark:text-gray-400">{ description }</p>
            </div>
        </div>

        <input id={ title.replaceAll(" ", "-").toLowerCase() } type="checkbox" value="" class="sr-only peer" data-prop={ prop } checked={ checked === "true" }>
        <div class="relative w-12 h-6 bg-gray-200 peer-focus:outline-none rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"></div>
    </label>
</div>