---
import LayoutSidebar from '@app/LayoutSidebar.astro';
---

<LayoutSidebar>
    <div class="px-4 pt-4">
		<section class="min-h-[full] p-4 bg-white border border-gray-200 rounded-lg shadow-sm dark:border-gray-700 sm:p-6 dark:bg-gray-800">
			<div class="items-center justify-between lg:flex">
				<div class="mb-4 lg:mb-0">
					<h3 class="mb-2 text-xl font-bold text-gray-900 dark:text-white">
						Welcome!
					</h3>
					<span class="text-base font-normal text-gray-500 dark:text-gray-400">
						You can start by configuring the settings to your preference.
					</span>
				</div>
			</div>
		</section>

		<section class="min-h-[full] mt-4 p-4 bg-white border border-gray-200 rounded-lg shadow-sm dark:border-gray-700 sm:p-6 dark:bg-gray-800">
			<div class="flex items-center justify-center w-full">

			</div>
		</section>
	</div>
</LayoutSidebar>