---
import LayoutSidebar from '@app/LayoutSidebar.astro';
import ToggleOption from '@components/ToggleOption.astro';
import InputOption from '@components/InputOption.astro';
---

<LayoutSidebar>
	<div class="px-4 pt-4">
		<section class="p-4 bg-white border border-gray-200 rounded-lg shadow-sm dark:border-gray-700 sm:p-6 dark:bg-gray-800">
			<!-- Card header -->
			<div class="items-center justify-between lg:flex">
				<div class="mb-4 lg:mb-0">
					<h3 class="mb-2 text-xl font-bold text-gray-900 dark:text-white">
						Options
					</h3>
					<span class="text-base font-normal text-gray-500 dark:text-gray-400">
						Configure the paths and parameters of the web application.
					</span>
				</div>

				<section class="relative flex gap-6">
					<button class="flex items-center justify-center px-4 py-2 text-sm font-medium text-white bg-blue-600 border border-transparent rounded-md shadow-sm hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
						Save changes
					</button>
				</section>
			</div>
		</section>

		<section class="mt-4 p-4 bg-white border border-gray-200 rounded-lg shadow-sm dark:border-gray-700 sm:p-6 dark:bg-gray-800">
			<h4 class="text-2xl mb-6 font-bold text-gray-900 dark:text-white">
				General
			</h4>
			<div class="grid grid-cols-2 gap-6">
				<InputOption title="Output path" content="stable-diffusion-webui/outputs" />
				<InputOption title="Directory name pattern" content="[date]/[model_name]" />
			</div>
		</section>
		<section class="mt-4 p-6 bg-white border border-gray-200 rounded-lg shadow-sm dark:border-gray-700 dark:bg-gray-800">
			<h4 class="text-2xl mb-6 font-bold text-gray-900 dark:text-white">
				User Interface
			</h4>
			<div class="grid grid-cols-2 gap-6">
				<ToggleOption title="Display image date" description="Show the image date in the gallery" checked="true" />
				<ToggleOption title="Display image tags" description="Show the image tags in the gallery" checked="false" />
				<InputOption title="Number of columns in image gallery" content="Number of columns displayed in gallery (default: 3)" />
			</div>
		</section>
	</div>
</LayoutSidebar>