---
import LayoutSidebar from '@app/LayoutSidebar.astro';
import GalleryIcon from '@icons/Gallery.astro';
---

<LayoutSidebar>
	<div class="px-4 pt-4">
		<section class="min-h-[full] p-4 bg-white border border-gray-200 rounded-lg shadow-sm dark:border-gray-700 sm:p-6 dark:bg-gray-800">
			<div class="items-center justify-between lg:flex">
				<div class="mb-4 lg:mb-0">
					<h3 class="mb-2 text-xl font-bold text-gray-900 dark:text-white">
						Upload Images
					</h3>
					<span class="text-base font-normal text-gray-500 dark:text-gray-400">
						You can upload images to your gallery here.
					</span>
				</div>
			</div>
		</section>
		<section class="min-h-[full] mt-4 p-4 bg-white border border-gray-200 rounded-lg shadow-sm dark:border-gray-700 sm:p-6 dark:bg-gray-800">
			<div class="flex items-center justify-center w-full">
				<label for="dropzone-file" class="flex flex-col items-center justify-center w-full h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-bray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">
					<div class="flex flex-col items-center justify-center pt-5 pb-6">
						<GalleryIcon class="w-12 h-12 text-gray-400 dark:text-gray-500" />
						<p class="my-2 text-md text-gray-500 dark:text-gray-400">
							<span class="font-semibold">Click to upload</span> or drag and drop
						</p>
						<p class="text-xs text-gray-500 dark:text-gray-400">PNG, JPEG or JPG</p>
					</div>
					<input id="dropzone-file" type="file" class="hidden" accept="png, jpg, jpeg" multiple />
				</label>
			</div>
		</section>
	</div>
</LayoutSidebar>

<script>
    const url = import.meta.env.PUBLIC_API_URL;
    const dropzone = document.getElementById('dropzone-file');

	// Handle file upload
    dropzone?.addEventListener('change', async (e) => {
        const files = (e.target as HTMLInputElement)?.files;
        if (!files) return;

        Array.from(files).forEach(async (file) => {
            const formData = new FormData();
            formData.append("file", file);

            try {
                const response = await fetch(`${url}/upload`, {
                    method: 'POST',
                    body: formData
                });
                response.ok ? console.log("File uploaded successfully") : console.error("Upload failed:", response.statusText);
            } catch (error) {
                console.error("Error uploading file:", error);
            }
        });

		(dropzone as HTMLInputElement).value = "";
    });
</script>