/* Handle scrollbar */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: #9ca3af;
}

::-webkit-scrollbar-thumb {
    /* background-color: #1f2937; */
    background-color: rgb(55 65 81 / 1);
    border-radius: 5px;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    opacity: 0.8;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:active {
    opacity: 0.6;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:horizontal {
    background-color: #9ca3af;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:horizontal:hover {
    opacity: 0.8;
}